ion-item h2 {
  font-size: 1rem;
  color: #1a0dab;
  cursor: pointer;
}

ion-item p {
  font-size: 0.9rem;
  color: #4d5156;
}

.url {
  font-size: 0.8rem;
  color: #006621;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

ion-item {
  max-width: 600px;
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;;
}

.search {
  max-width: 200px;
  width: 100%;
  --background: #e32629;
  text-transform: none;
}
ion-content {
  --background: #f4f4f4;
}

