<ion-button style="--background:#e32629; margin-top: 15px;" shape="round" (mousedown)="startRecording()" (mouseup)="stopRecording()">
<ion-icon slot="icon-only" name="mic"></ion-icon>
</ion-button>
<!--<ion-icon slot="start" name="lock-closed" aria-hidden="true" (mousedown)="startRecording()" (mouseup)="stopRecording()"></ion-icon>-->
<!--<ion-button fill="clear" slot="end" aria-label="Show/hide">-->
<!--  <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>-->
<!--</ion-button>-->
